.search {
    position: relative;
}

.msg {
    position: absolute;
    top: 16.5px;
    left: 58px;
    font-size: var(--search-f-s);
    font-weight: var(--search-f-w);
    color: var(--search-placeholder-f-c, hsl(0, 0%, 50%));
}
