.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
}

@media screen and (max-width: 1190px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 990px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: minmax(0, 328px);
        justify-content: center;
        width: min(328px, calc(100vw - 32px));
        gap: 8px;
    }
}
